:root{
  --headerFooter: #1E1E1E;
  --bg: #292929;
  --bg-chat: #111111;
  --light: #E0E0E0;
  --link: #0000EE;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  
}
/* 
body{
  font-family: 'Nunito';

}

h2{
  font-size: 18px;
  padding: 10px 20px;
  color: #575ed8;
}

#mario-chat{
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
}

#chat-window{
  height: 400px;
  overflow: auto;
  background: #f9f9f9;
}

#output p{
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

#feedback p{
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong{
  color: #575ed8;
}

label{
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
}

input{
  padding: 10px 20px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 16px;
}

button{
  background: #575ed8;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
 */

 body{
  color: var(--light);
 }

 .header, .footer{
  background-color: var(--headerFooter);

 }

 .wrapper{
   background-color: var(--bg);
 }

.chat {
  width: 450px;
  height: 500px;
  max-width: 450px;
  overflow-y: scroll;
  margin-top: 5px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;

  background-color:var(--bg-chat);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
.chat li {
  list-style: none;
}
.form-inline {
  margin-top: 5px;
}
.text-chat {
  max-width: 355px;
  width: 355px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;

  background-color:var(--bg);
  background-image: none;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
.btn-chat {
  line-height: 48px;
  margin-top: -7px;
}

.footer{

  border-top: solid 1px black;

}